<h1>Catálogo de animales</h1>

<div class="animals-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead"><%= @division.name.titleize %></p>
      <ul class="nav nav-pills nav-stacked">
        <% @division.animal_classes.each do |klass| %>
          <li role="presentation"><%= link_to klass.name.titleize, animal_class_path(@division.name, klass.name) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<p>Back to <%= link_to 'Main Menu', animals_path %></p>
