<h1>Catálogo de animales</h1>

<div class="animals-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead"><%= @klass.name.titleize %></p>
      <ul class="nav nav-pills nav-stacked">
        <% @klass.children.each do |child| %>
          <li role="presentation"><%= link_to child.name.titleize, child %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<p>Back to <%= link_to @klass.animal_division.name.titleize, @klass.animal_division %></p>
