<h1>Catálogo de animales</h1>

<div class="animals-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead"><%= @klass.name.titleize %></p>
      <ul class="nav nav-pills nav-stacked">
        <% @klass.animal_species.each do |specie| %>
          <li role="presentation"><%= link_to specie.name.titleize, specie_from_class_path(@klass.animal_division.name, @klass.name, specie.name) %></li>
        <% end %>
        <% @klass.animal_subclasses.each do |subclass| %>
          <li role="presentation"><%= link_to subclass.name.titleize, animal_subclass_path(@klass.animal_division.name, @klass.name, subclass.name) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<p>Back to <%= link_to @klass.animal_division.name.titleize, animal_division_path(@klass.animal_division.name) %></p>
