<h1>Catálogo de animales</h1>

<div class="animals-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead"><%= @animal.name.titleize %></p>
      <img class="img-rounded" src="<%= image_path("#{@animal.name}.jpg") %>" width="400" />
    </div>
  </div>
</div>

<% if @animal.animal_subclass %>
  <p>Back to <%= link_to @animal.parent.name.titleize, animal_subclass_path(@animal.animal_subclass.animal_class.animal_division.name, @animal.animal_subclass.animal_class.name, @animal.animal_subclass.name) %></p>
<% else %>
  <p>Back to <%= link_to @animal.parent.name.titleize, animal_class_path(@animal.animal_class.animal_division.name, @animal.animal_class.name) %></p>
<% end %>
